.header-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: color;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  /* letter-spacing: 2px; */
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #2448de;
}

.header-button:hover {
  background-color: #2141ca;
}
