.news-content {
  flex: 1;
}

.content-list {
  grid-template-columns: minmax(30%, 1fr) minmax(30%, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 96px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.list-item {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.div-block {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
}